.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 10px;
}

.grid div:nth-child(even) {
  background-color: white;
}

.grid div:nth-child(odd) {
  background-color: white;
}

.bil1 p {
  display: inline-block;
  text-align: right;
}

.bil1 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

.bil2 p {
  display: inline-block;
  text-align: right;
}

.bil2 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

.bil3 p {
  display: inline-block;
  text-align: right;
}

.bil3 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

.bil4 p {
  display: inline-block;
  text-align: right;
}

.bil4 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

.bil5 p {
  display: inline-block;
  text-align: right;
}

.bil5 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

.bil6 p {
  display: inline-block;
  text-align: right;
}

.bil6 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

.bil7 p {
  display: inline-block;
  text-align: right;
}

.bil7 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

.bil8 p {
  display: inline-block;
  text-align: right;
}

.bil8 h1 {
  display: inline-block;
  text-align: right;
  background-color: #7899DF;
  color: white;
}

@media screen and (max-width: 990px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 670px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
  }
}
/* mindre end 918 så skal den ændre sig, fra 4 biler ti 3 biler
mindre en 690 skal den ændre sig igen fra 3 til 2 biler */
